#slider-principal{
	margin-top: 3em;
	@extend .container;
	overflow: visible;
	position: relative;
	@media (max-width: $tamanho-smartphone){
		display: none;
	}

	.container-slides{
		overflow: visible;
		position: relative;
		width: 100%;
	}
	section{
		width: 100%;
		overflow: hidden;
		display: none;
		height: 1120px*0.75*0.6;
		@media (max-width: $tamanho-notebook){
			height: calc(100vw * 0.75 * 0.6);
		}
		
		&.db{
			display: block;
		}

		&.before-atual >{
			h2,p{
				@include transform(translateX(-100%));
				opacity: 0;
			}

			div.imagem{
				@include transform(translateX(100%));
				opacity: 0;
			}
		}

		&.atual >{
			h2,div.imagem,p{
				@include transition(all 0.4s $ease-out-cubic);
				@include transition-property(opacity, transform);
				@include transform(translateX(0%));
				opacity: 1;
			}
		}

		&.deixando-atual >{
			h2,div.imagem,p{
				@include transition-timing-function($ease-in-cubic);
				opacity: 0;
			}

			h2,p{
				@include transform(translateX(100%));
			}

			div.imagem{
				@include transform(translateX(-100%));
			}
		}

		& >{
			h2,div.imagem,p{
				@include transition-property(opacity, transform);
			}


			h2{
				margin: 0;
				margin-top: 1em;
				width: 50%;
				color: white;
				font-weight: normal;
				font-size: 1.5em;
				@media (max-width: $tamanho-tablet){
					width: 70%;
				}

				@media (max-width: $tamanho-tablet-vertical){
					font-size: 1.3em;
				}
				padding: 0.3em; 
				@include linear-gradient(to right, $rosa, $amarelo);
				position: relative;
				z-index: 3;
			}

			p{
				@media (max-width: $tamanho-tablet){
					display: none;
				}
				margin: 0;
				margin-top: 0.5em;
				width: 25%;
				font-style: italic;
				padding-right: 1rem;
				position: relative;
				z-index: 1;
				&.leiamais{
					margin-top: 0;
					text-align: right;
					font-family: $fonte-titulo;
					color: $rosa;
					font-size: 1.3em;
				}
			}

			div.imagem{
				position: absolute;
				z-index: 2;
				right: 0;
				top: 0;
				width: 75%;
				@media (max-width: $tamanho-tablet){
					width: 100%;
				}
				height: 100%;
				overflow: hidden;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				img{
					display: block;
					opacity: 0;
					height: 0px;
					width: 0px;
				}
			}

			a{
				position: absolute;
				top: 0; left: 0;
				z-index: 3;
				width: 100%; height: 100%;
			}
		}
	}

	nav.bullets{
		@media (max-width: $tamanho-tablet){
			display: none;
		}

		position: absolute;
		z-index: 4;
		bottom: 0;
		left: 0;
		width: 25%;
		padding: 1em 1em 0;
		@include display(flex);
		@include justify-content(center);
		button{
			width: 10px;
			height: 10px;
			border-radius: 5px;
			background-color: $amarelo;
			@include transition(all 0.2s linear);
			@include transition-property(background-color);

			&.atual, &:hover{
				background-color: $rosa;
			}
			margin-right: 5px;
			&:last-child{
				margin-right: 0;
			}

		}
	}

	nav.next-prev{
		position: absolute;
		bottom: -26px;
		right: -20px;
		z-index: 4;
		width: 120px;
		height: 84px;
		background-image: url(../media/triangulo-preto-slider.svg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@include display(flex);

		button{
			position: absolute;
			font-size: 2.5em;
			color: $amarelo;
			@include transition(color 0.2s linear);
			&:before{
				line-height: 1;
			}
			&:hover{
				color: $rosa;
			}
			&.prev{
				top: 14%;
				left: 36%;
			}

			&.next{
				top: 30%;
				left: 54%;
			}
		}
	}
}







