#rodape-e-mapa{
	margin-top: 7em;
	@media (max-width: $tamanho-tablet){
		margin-top: 4em;
	}

	background-image: url(../media/caosarrumado-bg2.svg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	#mapa-mundi{
		margin-bottom: 2em;
		@extend .container;

		.mapa-interativo{
			h2{
				position: absolute;
				left: 0;
				bottom: 0;
				z-index: 2;
				font-weight: normal;
				font-family: $fonte-corpo;
				font-size: 1.2em;
				line-height: 0.9;
				text-align: center;
				@media (max-width: $tamanho-smartphone){
					position: static;
					&:before{
						content: none;
					}
				}

				span{
					display: block;
					color: $rosa;
					font-size: 2.5em;
					font-family: $fonte-titulo;
				}

				&:before{
					content: '';
					position: absolute;
					z-index: -1;
					top: -20px;
				    left: -17px;
					width: 135px;
					height: 90px;
					background-image: url(../media/sprites-triangulos2.svg);
					background-repeat: no-repeat;
					background-size: 200% auto;
					background-position: 100% 0px;
					@include transform(rotate(-30deg));
				}
			}
			img.aviao{
				position: absolute;
				z-index: 2;
				left: 0;
				top: 0;
				@media (max-width: $tamanho-smartphone){
					display: none;
				}
			}
			a.ponto{
				font-size: 0.9em;
			}
		}
	}

	#rodape{
		height: auto;
		background-color: $preto;
		& > .container{
			height: 3em;
			@include display(flex);
			@include justify-content(space-between);
			@include align-items(center);
			p{
				margin: 0;
				font-size: 0.8em;
				text-transform: uppercase;
				color: $amarelo;
				line-height: 1;
				a{
					display: inline-block;
					vertical-align: middle;
					margin-left: 0.5em;
					img{
						display: block;
						height: 1.5em;
						width: auto;
					}
				}
			}

			@media (max-width: $tamanho-tablet-vertical){
				height: auto;
				@include display(block);
				padding-top: 1em;
				padding-bottom: 1em;
				
				p{
					display: block;
					text-align: center;
					padding: 0.5em 0;
				}
			}
		}
	}

}