#lateral{
	width: 300px;
	@include flex-shrink(0);
	aside{
		font-size: 0.9em;
		width: 100%;
		margin-bottom: 2em;
		.titulo-aside{
			position: relative;
			@include display(flex);
			@include justify-content(center);
			h2{
				padding: 0.4em;
				background-color: #fff;
				font-size: 2em;
				font-weight: normal;
				font-family: $fonte-titulo;
				color: $rosa;
				margin: 0;
			}
			&:before{
				content: '';
				position: absolute;
				z-index: -1;
				display: block;
				width: 100%;
				left: 0; top: 50%;
				border-bottom: 3px solid $amarelo;
				@include transform(rotate(2deg));
			}
		}

		&:nth-of-type(even) .titulo-aside:before{
			@include transform(rotate(-2deg));				
		}

		&.perfil{
			position: relative;

			.foto-e-bemvindo{
				width: 100%;
				position: relative;
				z-index: 2;
				margin-bottom: 2em;

				&:before{
					content: '';
					position: absolute;
					z-index: -1;
					bottom: -11px;
					left: -10px;
					width: 90px;
					height: 60px;
					background-image: url(../media/sprites-triangulos2.svg);
					background-repeat: no-repeat;
					background-size: 200% auto;
					background-position: 100% -312px;
					@include transform(rotate(190deg));
				}

				&:after{
					content: '';
					position: absolute;
					z-index: -1;
					bottom: -61px;
				    right: -10px;
				    width: 90px;
				    height: 60px;
				    background-image: url(../media/sprites-triangulos2.svg);
				    background-repeat: no-repeat;
				    background-size: 200% auto;
				    background-position: 100% -124px;
					@include transform(rotate(126deg));
				}


				div.foto-perfil{

					width: 100%;
					height: 300px;
					-webkit-clip-path: polygon(3% 96%, 71% 100%, 100% 88%, 100% 27%, 70% 0, 0 36%);
					clip-path: polygon(3% 96%, 71% 100%, 100% 88%, 100% 27%, 70% 0, 0 36%);

					background-size: cover;
					background-repeat: no-repeat;
					background-position: center;

					img{
						position: absolute;
						z-index: 2;
						right: 0; top: 0;
						height: 0px;
						width: 0px;
						display: block;
						opacity: 0;
					}
				}

				h2{
					margin: 0;
					position: absolute;
					z-index: 1;
					top: 0;
					left: 0;
					color: $rosa;
					text-align: right;
					font-weight: normal;
					line-height: 0.7;
					font-size: 3rem;
					font-family: $fonte-titulo;
					span{
						display: block;
						font-size: 1.2rem;
						margin-right: 5px;
						font-family: $fonte-corpo;
					}

					&:before{
						content: '';
						position: absolute;
						z-index: -1;
						top: -10px;
						left: -10px;
						width: 90px;
						height: 60px;
						background-image: url(../media/sprites-triangulos2.svg);
						background-repeat: no-repeat;
						background-size: 200% auto;
						background-position: 100% -60px;
						@include transform(rotate(15deg));
					}
				}

				h3{
					margin: 0;
					position: absolute;
					right: 0;
					bottom: -10px;
					z-index: 2;
					font-family: $fonte-titulo;
					font-weight: normal;
					color: $preto;
					font-size: 2em;
					line-height: 0.7;
					padding: 0 0.6em;
					&:before{
						content: '';
						position: absolute;
						z-index: -1;
						width: 100%;
						height: 100%;
						bottom: 7px;
						right: 0;
						background-color: $amarelo;
					}
				}
			}

			.minibio{
				margin-bottom: 2em;
				p{
					margin: 0;
					&.esquerda{
						font-weight: bold;
						width: 50%;
						margin-bottom: 1em;
					}

					&.direita{
						text-align: right;
					}
				}
			}

			ul.redes-sociais{
				@include display(flex);
				@include justify-content(center);
				li{
					margin-right: 1em;
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}

		&.procurar{
			form.field-procurar{
				position: relative;
				&:before{
					content: '';
					position: absolute;
					z-index: -1;
					background-color: $amarelo;
					// top: 0; left: 0;
					width: 100%;
					height: 100%;
					@include transform(rotate(-3deg));
					@include transition(transform 0.2s linear);
					
				}

				&:hover{
					&:before{
						@include transform(rotate(0deg));
					}
					input[type="text"]{
						@include transform(rotate(0deg));
					}
				}

				input[type="text"]{
					width: 100%;
					position: relative;
					z-index: 1;
					@include appearance(none);
					background-color: $amarelo-mto-claro;
					border: none;
					padding: 1em 2.5em 1em 1em;
					@include transform(rotate(2.5deg));
					@include transition(transform 0.2s linear);
					&:focus{
						outline: none;
					}
					@include placeholder{
					  color: $amarelo-escuro;
					}
					
				}
				

				button{
					position: absolute;
					z-index: 2;
					right: 0;
					margin-right: 0.5em;
					top: 50%;
					@include transition(transform 0.2s linear);
					@include transform(translate(6px,-50%));
					span{
						color: $rosa;
						font-size: 2em;
					}
				}
			}
		}

		&.mais-vistos{
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				li{
					margin: 0;
					margin-bottom: 1em;
					counter-increment: maisvistos;

					&:nth-child(even){
						a{
							@include flex-direction(row-reverse);

							div.img{
								&:after{
									right: auto;
									left: 0;
									@include transform(translate(-50%, -50%));

								}
							}

							h3{
								text-align: right;
								margin: 0 1em 0 0;
								@supports(-webkit-background-clip: text) and (-webkit-text-fill-color: transparent){
									@include linear-gradient(to right, $rosa, $amarelo);
								}
							}
						}
					}
					a{
						text-decoration: none;
						@include display(flex);
						@include align-items(center);

						&:hover{
							div.img{
								&:after{
									background-color: $amarelo;
								}
							}
						}
						

						div.img{
							position: relative;
							display: block;
							background-size: cover;
							background-position: center;
							width: 30%;
							height: 80px;
							@include flex-shrink(0);
							img{
								position: absolute;
								height: 0;
								width: 0;
								opacity: 0;
								right: 0;
								top: 0;
							}

							&:after{
								content: counter(maisvistos);
								line-height: 1;
								@include display(flex);
								@include justify-content(center);
								@include align-items(center);
								width: 1.5em;
								height: 1.5em;
								border-radius: 50%;
								position: absolute;
								z-index: 2;
								right: 0;
								top: 50%;
								@include transform(translate(50%, -50%));
								font-weight: bold;
								color: white;
								background-color: $rosa;
								@include transition(background-color 0.2s linear);
							}
						}
						h3{
							font-size: 1em;
							font-weight: normal;
							margin: 0 0 0 1em;
							color: $rosa;
							@supports(-webkit-background-clip: text) and (-webkit-text-fill-color: transparent){
								@include linear-gradient(to right, $amarelo, $rosa);
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
							}
						}
					}
				}
			}
		}

		&.pinterest{
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				$gutter: 8px;
				div.gutter-sizer{
					width: $gutter;
				}

				div.grid-sizer{
					width: calc(33.33333% - #{$gutter});
				}
				li.grid-item{
					width: calc(33.33333% - #{$gutter});
					margin-bottom: $gutter;
					a{
						display: block;
						position: relative;

						&:hover{
							p{
								opacity: 1;
								@include transform(translateY(-50%) scale(1));

							}
							div{
								opacity: 1;
							}
						}

						img{
							display: block;
							width: 100%;
							height: auto;
						}

						div{
							position: absolute;
							z-index: 2;
							top: 0; left: 0;
							width: 100%; height: 100%;
							background-color: rgba(0,0,0,0.6);
							opacity: 0;
							@include transition(opacity 0.2s linear);
							@include display(flex);
							@include justify-content(center);
							@include align-items(center);
							p{
								line-height: 1;
								font-size: 0.9em;
								margin: 0;
								position: absolute;
								z-index: 3;
								width: 100%;
								top: 50%; left: 0;
								@include transform(translateY(-50%) scale(1.2));
								color: $amarelo-claro;
								text-align: center;
								@include transition(transform 0.2s linear);
								span.afico{
									display: block;
									font-size: 1.2em;
									@media (max-width: $tamanho-smartphone){
										font-size: 1.2em;
									}
								}
							}
						}
					}
				}
			}
		}

		&.viagens{
			// O estilo do mapa esta no lay_components
			.mapa-interativo{
				h3{
					position: absolute;
					z-index: 2;
					top: 20%;
					right: 0;
					font-size: 1.5em;
					font-weight: normal;
					line-height: 1;
					$color: $fonte-corpo;
					font-style: italic;
					text-align: center;
					span{
						display: block;
						font-size: 2em;
						font-family: $fonte-titulo;
						color: $rosa;
					}

					&:before{
						content: '';
						position: absolute;
						z-index: -1;
						top: 0px;
						left: -10px;
						width: 120px;
						height: 80px;
						background-image: url(../media/sprites-triangulos2.svg);
						background-repeat: no-repeat;
						background-size: 200% auto;
						background-position: 100% -80px;
						@include transform(rotate(180deg));
					}
				}
			}
		}
	}
}