/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$afico-angle-double-down: unicode(ea01);
$afico-angle-double-left: unicode(ea02);
$afico-angle-double-right: unicode(ea03);
$afico-angle-double-up: unicode(ea04);
$afico-angle-down: unicode(ea05);
$afico-angle-left: unicode(ea06);
$afico-angle-right: unicode(ea07);
$afico-angle-up: unicode(ea08);
$afico-bars: unicode(ea09);
$afico-behance: unicode(ea0a);
$afico-bookmark-o: unicode(ea0b);
$afico-bookmark: unicode(ea0c);
$afico-bullhorn: unicode(ea0d);
$afico-calendar-o: unicode(ea0e);
$afico-calendar: unicode(ea0f);
$afico-check-square-o: unicode(ea10);
$afico-chevron-down: unicode(ea11);
$afico-chevron-left: unicode(ea12);
$afico-chevron-right: unicode(ea13);
$afico-chevron-up: unicode(ea14);
$afico-diamond: unicode(ea15);
$afico-dribbble: unicode(ea16);
$afico-dropbox: unicode(ea17);
$afico-envelope-o: unicode(ea18);
$afico-envelope: unicode(ea19);
$afico-etsy: unicode(ea1a);
$afico-facebook-f: unicode(ea1b);
$afico-gift: unicode(ea1c);
$afico-google-plus: unicode(ea1d);
$afico-heart-o: unicode(ea1e);
$afico-heart: unicode(ea1f);
$afico-instagram: unicode(ea20);
$afico-link: unicode(ea21);
$afico-linkedin: unicode(ea22);
$afico-list-ul: unicode(ea23);
$afico-list: unicode(ea24);
$afico-location-arrow: unicode(ea25);
$afico-lock: unicode(ea26);
$afico-long-arrow-down: unicode(ea27);
$afico-long-arrow-left: unicode(ea28);
$afico-long-arrow-right: unicode(ea29);
$afico-long-arrow-up: unicode(ea2a);
$afico-map-marker: unicode(ea2b);
$afico-map-signs: unicode(ea2c);
$afico-paypal: unicode(ea2d);
$afico-pencil-square-o: unicode(ea2e);
$afico-pinterest-p: unicode(ea2f);
$afico-plane: unicode(ea30);
$afico-plus: unicode(ea31);
$afico-quote-left: unicode(ea32);
$afico-quote-right: unicode(ea33);
$afico-rss: unicode(ea34);
$afico-search: unicode(ea35);
$afico-send-o: unicode(ea36);
$afico-share-alt: unicode(ea37);
$afico-shopping-bag: unicode(ea38);
$afico-shopping-basket: unicode(ea39);
$afico-shopping-cart: unicode(ea3a);
$afico-sign-in: unicode(ea3b);
$afico-sign-out: unicode(ea3c);
$afico-skype: unicode(ea3d);
$afico-snapchat-ghost: unicode(ea3e);
$afico-snowflake-o: unicode(ea3f);
$afico-soundcloud: unicode(ea40);
$afico-spotify: unicode(ea42);
$afico-square-o: unicode(ea41);
$afico-square: unicode(ea43);
$afico-star-half-empty: unicode(ea44);
$afico-star-o: unicode(ea45);
$afico-star: unicode(ea46);
$afico-times-circle: unicode(ea47);
$afico-tumblr: unicode(ea48);
$afico-twitter: unicode(ea49);
$afico-user-plus: unicode(ea4a);
$afico-vimeo: unicode(ea4b);
$afico-whatsapp: unicode(ea4c);
$afico-wordpress: unicode(ea4d);
$afico-youtube-play: unicode(ea4e);

.afico-angle-double-down::before {
  content: $afico-angle-double-down;
}

.afico-angle-double-left::before {
  content: $afico-angle-double-left;
}

.afico-angle-double-right::before {
  content: $afico-angle-double-right;
}

.afico-angle-double-up::before {
  content: $afico-angle-double-up;
}

.afico-angle-down::before {
  content: $afico-angle-down;
}

.afico-angle-left::before {
  content: $afico-angle-left;
}

.afico-angle-right::before {
  content: $afico-angle-right;
}

.afico-angle-up::before {
  content: $afico-angle-up;
}

.afico-bars::before {
  content: $afico-bars;
}

.afico-behance::before {
  content: $afico-behance;
}

.afico-bookmark-o::before {
  content: $afico-bookmark-o;
}

.afico-bookmark::before {
  content: $afico-bookmark;
}

.afico-bullhorn::before {
  content: $afico-bullhorn;
}

.afico-calendar-o::before {
  content: $afico-calendar-o;
}

.afico-calendar::before {
  content: $afico-calendar;
}

.afico-check-square-o::before {
  content: $afico-check-square-o;
}

.afico-chevron-down::before {
  content: $afico-chevron-down;
}

.afico-chevron-left::before {
  content: $afico-chevron-left;
}

.afico-chevron-right::before {
  content: $afico-chevron-right;
}

.afico-chevron-up::before {
  content: $afico-chevron-up;
}

.afico-diamond::before {
  content: $afico-diamond;
}

.afico-dribbble::before {
  content: $afico-dribbble;
}

.afico-dropbox::before {
  content: $afico-dropbox;
}

.afico-envelope-o::before {
  content: $afico-envelope-o;
}

.afico-envelope::before {
  content: $afico-envelope;
}

.afico-etsy::before {
  content: $afico-etsy;
}

.afico-facebook-f::before {
  content: $afico-facebook-f;
}

.afico-gift::before {
  content: $afico-gift;
}

.afico-google-plus::before {
  content: $afico-google-plus;
}

.afico-heart-o::before {
  content: $afico-heart-o;
}

.afico-heart::before {
  content: $afico-heart;
}

.afico-instagram::before {
  content: $afico-instagram;
}

.afico-link::before {
  content: $afico-link;
}

.afico-linkedin::before {
  content: $afico-linkedin;
}

.afico-list-ul::before {
  content: $afico-list-ul;
}

.afico-list::before {
  content: $afico-list;
}

.afico-location-arrow::before {
  content: $afico-location-arrow;
}

.afico-lock::before {
  content: $afico-lock;
}

.afico-long-arrow-down::before {
  content: $afico-long-arrow-down;
}

.afico-long-arrow-left::before {
  content: $afico-long-arrow-left;
}

.afico-long-arrow-right::before {
  content: $afico-long-arrow-right;
}

.afico-long-arrow-up::before {
  content: $afico-long-arrow-up;
}

.afico-map-marker::before {
  content: $afico-map-marker;
}

.afico-map-signs::before {
  content: $afico-map-signs;
}

.afico-paypal::before {
  content: $afico-paypal;
}

.afico-pencil-square-o::before {
  content: $afico-pencil-square-o;
}

.afico-pinterest-p::before {
  content: $afico-pinterest-p;
}

.afico-plane::before {
  content: $afico-plane;
}

.afico-plus::before {
  content: $afico-plus;
}

.afico-quote-left::before {
  content: $afico-quote-left;
}

.afico-quote-right::before {
  content: $afico-quote-right;
}

.afico-rss::before {
  content: $afico-rss;
}

.afico-search::before {
  content: $afico-search;
}

.afico-send-o::before {
  content: $afico-send-o;
}

.afico-share-alt::before {
  content: $afico-share-alt;
}

.afico-shopping-bag::before {
  content: $afico-shopping-bag;
}

.afico-shopping-basket::before {
  content: $afico-shopping-basket;
}

.afico-shopping-cart::before {
  content: $afico-shopping-cart;
}

.afico-sign-in::before {
  content: $afico-sign-in;
}

.afico-sign-out::before {
  content: $afico-sign-out;
}

.afico-skype::before {
  content: $afico-skype;
}

.afico-snapchat-ghost::before {
  content: $afico-snapchat-ghost;
}

.afico-snowflake-o::before {
  content: $afico-snowflake-o;
}

.afico-soundcloud::before {
  content: $afico-soundcloud;
}

.afico-spotify::before {
  content: $afico-spotify;
}

.afico-square-o::before {
  content: $afico-square-o;
}

.afico-square::before {
  content: $afico-square;
}

.afico-star-half-empty::before {
  content: $afico-star-half-empty;
}

.afico-star-o::before {
  content: $afico-star-o;
}

.afico-star::before {
  content: $afico-star;
}

.afico-times-circle::before {
  content: $afico-times-circle;
}

.afico-tumblr::before {
  content: $afico-tumblr;
}

.afico-twitter::before {
  content: $afico-twitter;
}

.afico-user-plus::before {
  content: $afico-user-plus;
}

.afico-vimeo::before {
  content: $afico-vimeo;
}

.afico-whatsapp::before {
  content: $afico-whatsapp;
}

.afico-wordpress::before {
  content: $afico-wordpress;
}

.afico-youtube-play::before {
  content: $afico-youtube-play;
}

